<div class="ganttTermContainer">
    <div class="flex-item1">
        <button class="btn btn-primary" ng-click="changeTerm(-1)">Pre</button>
    </div>
    <div class="flex-item1">
        <button class="btn btn-primary" ng-click="changeTerm(0)">Current</button>
    </div>
    <div class="flex-item2">
    </div>
    <div class="flex-item5">
        <button class="btn btn-primary" ng-click="changeTerm(1)">Next</button>
    </div>
    <div class="flex-item5">
        <button class="btn btn-primary" ng-click="changeWeek(4)">4</button>
        <button class="btn btn-primary" ng-click="changeWeek(6)">6</button>
        <button class="btn btn-primary" ng-click="changeWeek(8)">8</button>
        <button class="btn btn-primary" ng-click="changeWeek(10)">10</button>
        <button class="btn btn-primary" ng-click="changeWeek(12)">12</button>
    </div>
</div>